.cuerpo{
    background-color: honeydew;
    color:black;
    border: 10px solid darkgoldenrod;
    margin: 20px;
    padding: 20px;
    ;
}

.header{
    background-color: cadetblue;
    color:black;
    border: 2px solid burlywood;
    margin: 20px;
    padding: 20px;
    text-align: center
    ;
}

.tabla{
    display: flex;
    justify-content: space-between;
}

