{%  extends "fwallet/base.html" %}

{% block title %} 



{% endblock %}

{% block content %}

<br>

<form action = "/busqueda_registros/" method ="POST">
<div class = "tabla1">  
    {% csrf_token %}
    <p style="color : antiquewhite;">Todos los registros</p>
    
    <input type="submit" value= "Buscar todos" name="all_reg">

    <p style="color : antiquewhite;" >Filtro por monto</p>
    <input type = "text" name="reg">

    <input type="submit" value= "Buscar">

<p style="color : antiquewhite;">Filtro por fecha</p>
    
    <input type = "date" name="reg2">

    <input type="submit" value= "Buscar">

<p style="color : antiquewhite;" >Filtro por tipo</p>
<input type="submit" value= "Ingresos" name="reg3">
<input type="submit" value= "Gastos" name="reg4">
<input type="submit" value= "Deudas" name="reg5">

</div>  



{% if registros %}
<br>
<br>
    <p style="color : antiquewhite;">  {{registros|length}} registros encontrados</p>
    <div class="container"> 
        <strong><div style="background-color: #1c7430" class="row">
           <div class="col" > Monto  </div>
           <div class="col"> Tipo </div>
           <div class="col"> Nombre </div>
           <div class="col"> Fecha </div>
           <div class="col"> Categoria </div>
           <div class="col"> Descripción </div>
        </div></strong> 
                
                {% for registro in registros %}
                <div style="background-color: #9fcdff; border-bottom:1px solid black" class = "row">
                        <div style = "color: red" class="col">{{registro.monto}} </div>
                        <div class="col"> {{registro.tipo}} </div>
                        <div class="col"> {{registro.nombre}} </div>
                        <div class="col"> {{registro.fecha}} </div>
                        <div class="col"> {{registro.clase}} </div>
                        <div class="col"> {{registro.descripcion}} </div>
                </div>

                {% endfor %}


{% endif %}

<br>
<br>
    <section>
        <div style="background-color: mintcream; margin: auto; text-align: center;">

            Categorias de registros:


        </div>

    </section>
<br>
<br>


{% endblock %}


