{%  extends "fwallet/base.html" %}

{% block title %} 



{% endblock %}

{% block content %}


<script>
    // set the theme
    Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        chart: {
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                ]
            },
            borderWidth: 2,
            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
            plotShadow: true,
            plotBorderWidth: 1
        },
        title: {
            style: {
                color: '#000',
                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
            }
        },
        subtitle: {
            style: {
                color: '#666666',
                font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
            }
        },
        xAxis: {
            gridLineWidth: 1,
            lineColor: '#000',
            tickColor: '#000',
            labels: {
                style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                }
            },
            title: {
                style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
    
                }
            }
        },
        yAxis: {
            alternateGridColor: null,
            minorTickInterval: 'auto',
            lineColor: '#000',
            lineWidth: 1,
            tickWidth: 1,
            tickColor: '#000',
            labels: {
                style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                }
            },
            title: {
                style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                }
            }
        },
        legend: {
            itemStyle: {
                font: '9pt Trebuchet MS, Verdana, sans-serif',
                color: 'black'
    
            },
            itemHoverStyle: {
                color: '#039'
            },
            itemHiddenStyle: {
                color: 'gray'
            }
        },
        credits: {
            style: {
                right: '10px'
            }
        },
        labels: {
            style: {
                color: '#99b'
            }
        }
    });
    
</script>             

<br>
<form action = "/busqueda_registros/" method ="POST">
    <div style="width: 80%;background-color: greenyellow; margin: auto; text-align: center ">



        Filtro por monto


        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp



        Filtro por fecha

        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp

        Filtro por tipo


        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp


        Filtro por categoría

    </div>
    <section>
    {% csrf_token %}
        <div style="width: 80%;background-color: greenyellow; margin: auto; text-align: center; ">
        <input type="submit" value= "Buscar todos" name="all_reg">

    &nbsp &nbsp &nbsp
    <input type = "text" name="reg">
    &nbsp &nbsp &nbsp
    <input type = "date" name="reg2">

    <input  type="checkbox" value= "Ingresos" name="reg3" id="Ingresos">
    <label for="Ingresos">
        <p style="color : black;" >Ingresos</p>
    </label>
    &nbsp &nbsp &nbsp

    <input type="checkbox" value= "Gastos" name="reg4" id="Gastos">
    <label for="Gastos">
        <p style="color : black;" >Gastos</p>
    </label>

    &nbsp &nbsp &nbsp
    <input type="checkbox" value= "Deudas" name="reg5" id="Deudas">
    <label for="Deudas">
        <p style="color : black;" >Deudas</p>
    </label>
    &nbsp &nbsp &nbsp

    <input type = "text" name="reg6">

    &nbsp &nbsp &nbsp
    <input type="submit" value= "Buscar">

        </div>
    </section>




<div class = "tabla1">

    


   





</div>  


<style>
   
      .tabla1{

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin-left: 400px;
      margin-top: 40px;
      
     
    }
   
  
  
  </style>
  


{% if registros %}
<br>




<style>
   
    .nombre_de_filtros{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 565px;
    margin-top: -20px;
    
   
  }
 


</style>
<br>
<br>


    <div class="container"> 
        <strong><div style="background-color: #1c7430" class="row">
           <div class="col" > Monto  </div>
           <div class="col"> Tipo </div>
           <div class="col"> Nombre </div>
           <div class="col"> Fecha </div>
           <div class="col"> Categoria </div>
           <div class="col"> Descripción </div>
        </div></strong> 
                
                {% for registro in registros %}
                <div style="background-color: #9fcdff; border-bottom:1px solid black" class = "row">


                        {% if registro.tipo == "Ingreso"%}
                            <div style = "color: green" class="col">{{registro.monto}} </div>
                            {% elif  registro.tipo == "Gasto" %}
                            <div style = "color: red" class="col">{{registro.monto}} </div>
                            {% else %}
                            <div style = "color: purple" class="col">{{registro.monto}} </div>
                        {% endif %}

                        <div class="col"> {{registro.tipo}} </div>

                        <div class="col"> {{registro.nombre}} </div>
                        <div class="col"> {{registro.fecha}} </div>
                        <div class="col"> {{registro.clase}} </div>
                        <div class="col"> {{registro.descripcion}} </div>


                </div>

                {% endfor %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const chart = Highcharts.chart('charts', {
                            chart: {
                                type: 'line'
                            },
                            title: {
                                text: 'Fruit Consumption'
                            },
                            xAxis: {
                                title: {
                                    text: "Fecha"
                                },
                                //categories: [
                                    //{% for registro in registros %}{{ registro.fecha }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                //]
                            },
                            yAxis: {
                                title: {
                                    text: 'Valor monetario'
                                }
                            },
                            series: [{
                                name: 'Ingreso',
                                data: [1,2,3]//{% for registro in registros %}{% if registro.tipo == "Ingreso"%}{{ registro.monto }}{%endif%} {% if not forloop.last %}, {% endif %}{% endfor %}
                            }, {
                                name: 'Gasto',
                                data: [4,5,6]//{% for registro in registros %}{% if registro.tipo == "Gasto"%}{{ registro.monto }}{%endif%} {% if not forloop.last %}, {% endif %}{% endfor %}
                            },
                            {
                                name: 'Deuda',
                                data: [7,8,9]//{% for registro in registros %}{% if registro.tipo == "Deuda"%}{{ registro.monto }}{%endif%} {% if not forloop.last %}, {% endif %}{% endfor %}
                            }]
                        });
                    });
                    
                </script>

    <div id="charts" style="width:100%; height:400px;"></div>

{% else %}


<div class = "mensaje">
<b>No se encontraron registros</b>
</div>
{% endif %}


<!--
<br>
<br>
    <section>
        <div style="background-color: mintcream; margin: auto; text-align: center;">

            Categorias de registros:


        </div>

    </section>
<br>
<br>
-->
{% endblock %}


