{%  extends "fwallet/base.html" %}

{% block title %} 



{% endblock %}

{% block content %}



<script>
    // set the theme
    Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        chart: {
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                ]
            },
            borderWidth: 2,
            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
            plotShadow: true,
            plotBorderWidth: 1
        },
        title: {
            style: {
                color: '#000',
                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
            }
        },
        subtitle: {
            style: {
                color: '#666666',
                font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
            }
        },
        xAxis: {
            gridLineWidth: 1,
            lineColor: '#000',
            tickColor: '#000',
            labels: {
                style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                }
            },
            title: {
                style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
    
                }
            }
        },
        yAxis: {
            alternateGridColor: null,
            minorTickInterval: 'auto',
            lineColor: '#000',
            lineWidth: 1,
            tickWidth: 1,
            tickColor: '#000',
            labels: {
                style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                }
            },
            title: {
                style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                }
            }
        },
        legend: {
            itemStyle: {
                font: '9pt Trebuchet MS, Verdana, sans-serif',
                color: 'black'
    
            },
            itemHoverStyle: {
                color: '#039'
            },
            itemHiddenStyle: {
                color: 'gray'
            }
        },
        credits: {
            style: {
                right: '10px'
            }
        },
        labels: {
            style: {
                color: '#99b'
            }
        }
    });
    
</script>             

<br>
<form action = "/busqueda_registros/" method ="POST">
    <div class="filtro-labels">



        Filtro por monto


        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp



        Filtro por fecha

        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp

        Filtro por tipo


        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp


        Filtro por categoría

    </div>
    <section>
    {% csrf_token %}
        <div class="filtro-form">
        <input type="submit" value= "Buscar todos" name="all_reg">

    &nbsp &nbsp &nbsp
    <input type = "text" name="reg">
    &nbsp &nbsp &nbsp
    <input type = "date" name="reg2">

    <input type="radio" id="Ingresos" name="tipo_registro" value="Ingresos">
    <label for="Ingresos">
        <p style="color : black;" >Ingresos</p>
    </label>


            &nbsp &nbsp &nbsp

    <input type="radio" value= "Gastos" name="tipo_registro" id="Gastos">
    <label for="Gastos">
        <p style="color : black;" >Gastos</p>
    </label>

    &nbsp &nbsp &nbsp
    <input type="radio" value= "Deudas" name="tipo_registro" id="Deudas">
    <label for="Deudas">
        <p style="color : black;" >Deudas</p>
    </label>

    &nbsp &nbsp &nbsp

    <input type = "text" name="reg6">

    &nbsp &nbsp &nbsp
    <input type="submit" value= "Buscar">

        </div>
    </section>




<div class = "tabla1">

    


   





</div>  


<style>
   
      .tabla1{

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin-left: 400px;
      margin-top: 40px;
      
     
    }
   
   
  
  </style>
  


{% if registros %}
<br>

<div id="FAQSidebar-buttons" onclick="showOrHide()">
    <h2  style = "color: white; background-color: grey;display: flex;justify-content: center;" >Ver estadísticas</h2>S
  </div>
<div class = "graph" id="container2" >

</div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container2',{{ chart|safe }});
</script>

<style>

.graph{
    display: flex;
    transform: scale(0.8,1.2);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: none;
 
}


</style>

<script>
    var graph_div = document.getElementById('container2');
    function showDiv() {
        graph_div.style.display = "block";
    }

    function closeDiv() {
        graph_div.style.display = "none";
    }   

    function showOrHide() {
        if (graph_div.style.display === "block") {
            closeDiv()
        } else {
        showDiv()
        }
    }

</script>



<style>
   
    .nombre_de_filtros{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 565px;
    margin-top: -20px;
    
   
  }
 


</style>
<br>
<br>


    <div class="container"> 
        <strong><div style="background-color: #1c7430" class="row">
           <div class="col" > Monto  </div>
           <div class="col"> Tipo </div>
           <div class="col"> Nombre </div>
           <div class="col"> Fecha </div>
           <div class="col"> Categoria </div>
           <div class="col"> Descripción </div>
        </div></strong> 
                
                {% for registro in registros %}
                <div style="background-color: #9fcdff; border-bottom:1px solid black" class = "row">


                        {% if registro.tipo == "Ingreso"%}
                            <div style = "color: green" class="col">{{registro.monto}} </div>
                            {% elif  registro.tipo == "Gasto" %}
                            <div style = "color: red" class="col">{{registro.monto}} </div>
                            {% else %}
                            <div style = "color: purple" class="col">{{registro.monto}} </div>
                        {% endif %}

                        <div class="col"> {{registro.tipo}} </div>

                        <div class="col"> {{registro.nombre}} </div>
                        <div class="col"> {{registro.fecha}} </div>
                        <div class="col"> {{registro.clase}} </div>
                        <div class="col"> {{registro.descripcion}} </div>


                </div>
                
                {% endfor %}
               

{% else %}


<div class = "mensaje">
<b>No se encontraron registros</b>
</div>
{% endif %}



<br>
<br>
<br>
{% endblock %}



