{% extends "fwallet\index.html" %}

{% block title %} 

aaaaaaaaaaaaa

{% endblock %}

{% block content %}

<button type="button">
    <a href="{% url 'Busqueda de registros' %}">Ver registros</a>
</button>
<br>
<br>
<form action="/new/" method="post">
    {% csrf_token %}
            <table>
                <tr>
                    <th width="400">
                        Ingresar registro:
                    </th>
                </tr>

                <tr>
                    <th width="400">
                        <input type="number" placeholder="Monto" name="monto">

                    </th>

                </tr>

                <tr>
                    <th width="400">
                        <input list="tipos" name="tipo" /></label>
                        <datalist id="tipos">
                        <option value="Ingreso">
                        <option value="Gasto">
                        <option value="Deuda">
                

                    </th>

                </tr>

                <tr>
                    <th width="400">
                        <input type="text" placeholder="Nombre" name="nombre">

                    </th>

                </tr>

                <tr>
                    <th width="400">
                        <input type="date" placeholder="Fecha" name="fecha">

                    </th>

                </tr>

                <tr>
                    <th width="400">
                        <input type="text" placeholder="Categoría" name="categoria">

                    </th>

                </tr>

                <tr>
                    <th width="400">
                        <input type="text" placeholder="Descripción" name="descripcion">

                    </th>

                    <th colspan="2">
                        <button type="submit">Save</button>

                    </th>

                </tr>






            </table>

</form>
{% endblock %}