{%  extends "fwallet/base.html" %}

{% block title %}

Inicio de Sesión

{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="title">
        <h1 style="color : antiquewhite;"> Inicia sesión </h1>
    </div>
    <br>
    <br>
    <br>

    <div class="registro">
        <br>
        <form method="post" >
            {% csrf_token %}
            <div  class="form-group">
                <label style="color : antiquewhite;" for="nombre_usuario">Nombre</label>
                <input type="text" class="form-control" id=nombre_usuario name="username" required>
            </div>
            <div class="form-group">
                <label style="color : antiquewhite;" for="contraseña">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</div>

<br>
<br>
{% endblock %}